<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDn_vZ9q1lOAg6evJLt8g9DR858j8FXtZc</string>
	<key>GCM_SENDER_ID</key>
	<string>197334825694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.diarioObra.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>diario-obra-1958a</string>
	<key>STORAGE_BUCKET</key>
	<string>diario-obra-1958a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197334825694:ios:dca69a024e282eab85204f</string>
</dict>
</plist>